[submodule "mavlink/include/mavlink/v1.0"]
	path = mavlink/include/mavlink/v1.0
	url = https://github.com/rallen10/c_library.git
[submodule "NuttX"]
	path = NuttX
	url = https://github.com/PX4/NuttX.git
[submodule "uavcan"]
	path = uavcan
	url = https://github.com/pavel-kirienko/uavcan.git
